html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  color: #d9d9d9;
  background-color: black;
}

@media (max-width: 600px) {
  body {
    font-size: 55%;
  }
}

.primary-color {
  color: #ff5e23;
}

.overlay {
  background-color: rgba(103, 102, 102, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
}

.bord {
  height: 2px;
  width: 100%;
  background-color: #ff5e23;
  color: #ff5e23;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: -70px -106px;
  background-image: url("../../public/css/images/background.jpg");
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 600px) {
  .hero {
    background-position: center;
  }
}

.hero .nav-container {
  display: flex;
  justify-content: center;
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 15px 0;
  height: 55px;
  user-select: none;
  transition: all 0.4s;
}

@media (max-width: 600px) {
  .hero .nav-container {
    display: none;
  }
}

.hero .nav-container .nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  text-transform: uppercase;
  min-width: 500px;
  width: 35%;
}

.hero .nav-container .nav-list li {
  transition: all 0.2s ease;
}

.hero .nav-container .nav-list li:hover {
  transform: scale(1.1);
}

.hero .nav-container .nav-list .resume-btn {
  border: 1px solid #ff5e23;
  padding: 0 0.5rem;
  text-transform: uppercase;
  border-radius: 2px;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ff5e23 50%);
  background-size: 250%;
  transition: all 0.3s;
}

.hero .nav-container .nav-list .resume-btn:hover {
  background-position: 100%;
  transform: scale(1.05);
  border: none;
}

.hero .fixed-nav {
  background-color: #161616;
  color: #d9d9d9;
  box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.61);
}

.hero .fixed-nav .nav-list li:hover {
  color: inherit;
}

.hero .fixed-nav .number {
  color: inherit;
}

.hero .heading {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.hero .heading_typewriter {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0.5rem auto;
}

@media (max-width: 600px) {
  .hero .heading_typewriter {
    font-size: 1.2rem;
  }
}

.hero .heading_typewriter h3 {
  animation: typing 3s steps(30, end), blink-caret 1s step-end infinite;
  overflow: hidden;
  border-right: 2px solid;
  user-select: none;
  white-space: nowrap;
}

.hero .heading_sub-text {
  font-size: 1.5rem;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  animation: moveInLeft 1s ease;
  user-select: none;
}

@media (max-width: 600px) {
  .hero .heading_sub-text {
    font-size: 1.2rem;
  }
}

.hero .heading_main {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  user-select: none;
}

@media (max-width: 600px) {
  .hero .heading_main {
    font-size: 1.8rem;
  }
}

.hero .heading_projects {
  border: 1px solid #ff5e23;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  text-transform: capitalize;
  font-size: 0.8rem;
  animation: moveUp 1s ease-out;
  transition: all 0.1s;
}

.hero .heading_projects:hover {
  background-color: #ff5e23;
  transform: translateY(-3px);
}

.hero .heading_projects:active {
  transform: translateY(-1px);
}

.arrow {
  position: absolute;
  top: 95%;
  left: 49%;
  animation: moveDown 1.5s infinite;
  animation-delay: 3s;
}

.social {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  justify-content: flex-end;
  padding: 1rem;
}

@media (max-width: 600px) {
  .social {
    display: none;
  }
}

.social .social-link:hover {
  color: #ff5e23;
  transform: scale(1.3);
}

.bubble {
  position: absolute;
  z-index: -2;
  background-color: #ff5e23;
  transform: scale(1.2);
  transition: 0.5s ease;
  border-radius: 2px;
}

.social-mobile {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  font-size: 0.8rem;
}

@media (min-width: 600px) {
  .social-mobile {
    display: none;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 220px;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

@keyframes moveUp-load {
  from {
    top: 153%;
  }
  to {
    top: 50%;
  }
}

.skills {
  height: 60vh;
  margin-top: 2rem;
}

.head {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.grid-container {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr 1fr;
}

.icon-container {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-right: 1rem;
}

@media (max-width: 600px) {
  .icon-container {
    padding: 0.7rem;
  }
}

.icon-container i:hover {
  color: #ff5e23;
}

.icon-name {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #ff5e23;
}

@media (max-width: 600px) {
  .icon-name {
    font-size: 1rem;
  }
}

.icon-name:hover {
  color: white;
  cursor: default;
}

.name-container {
  width: 100px;
  display: inline-block;
  max-width: 250px;
  text-align: left;
}

.projects {
  margin-top: 2rem;
}

.projects .grid-container-project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 50px;
  margin: 3rem 0;
}

@media (max-width: 600px) {
  .projects .grid-container-project {
    grid-template-columns: fit-content(80%);
    justify-content: center;
  }
}

.projects .card {
  width: 100%;
  overflow: hidden;
  height: 250px;
}

.projects .card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.projects .box {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.projects .box:hover img {
  filter: blur(2px);
}

@media (max-width: 600px) {
  .projects .box:hover img {
    filter: none;
  }
}

.projects .box:hover .box-content {
  opacity: 1;
  transition: all 300ms ease 0s;
}

.projects .box:hover .box-content-text {
  animation: moveDown 0.6s ease;
}

.projects .box:hover .box-content-para {
  animation: moveDown 0.6s ease;
}

.projects .box:hover .box-content-icon {
  animation: moveUp 0.6s ease;
}

.projects .box .box-content {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  text-align: center;
  background: rgba(0, 0, 0, 0.705);
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
}

@media (max-width: 600px) {
  .projects .box .box-content {
    display: none;
  }
}

.projects .box .box-content-text {
  margin-top: 20px;
  font-size: 1.8rem;
  color: white;
  text-transform: capitalize;
  transition: all 1s ease;
}

.projects .box .box-content-para {
  font-size: 0.7rem;
  color: white;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.projects .box .box-content-tech {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;
  width: 70%;
  padding: 1rem 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: #ff5e23;
}

.projects .box .box-content-icon {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 2rem auto;
}

.projects .link:hover {
  color: #ff5e23;
}

.loading {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  transition: opacity 0.5s ease;
}

.loading-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 4;
  overflow: hidden;
}

.loading-text {
  position: absolute;
  font-size: 5rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.loading-box {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ff5e23;
  animation: moveUp-load 5s ease infinite alternate;
}

.loader-finish {
  opacity: 0;
  pointer-events: none;
}

.resume-section {
  height: 25vh;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 0;
}

.resume-section-image {
  background-image: url("../../public/css/images/resume.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -2;
  filter: blur(2px);
}

.resume-section-image::before {
  content: "";
  background: rgba(0, 0, 0, 0.705);
  position: absolute;
  width: 100%;
  height: 100%;
}

.resume-section-heading {
  margin: 1rem auto;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

.resume-section-link {
  text-transform: capitalize;
  padding: 0.6rem 1rem;
  border: solid 2px #ff5e23;
  font-size: 0.8rem;
  border-radius: 2px;
  color: white;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ff5e23 50%);
  background-size: 250%;
  transition: all 0.3s;
}

.resume-section-link:hover {
  background-position: 100%;
  transform: scale(1.05);
}
/*# sourceMappingURL=main.css.map */