@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 220px;
  }
}
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
@keyframes moveUp-load {
  from {
    top: 153%;
  }
  to {
    top: 50%;
  }
}

@keyframes fade-in {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0;
  }
}
@keyframes fade-out {
  from {
    bottom: 0;
  }
  to {
    bottom: -100%;
  }
}
