.contact {
  height: 100vh;
  background: url("../../public/css/images/contact.jpg");
  background-size: cover;
  position: relative;
  background-position: center;

  &-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.801);
  }

  &-form-container {
    width: 50%;
    padding: 3rem 6rem;
    margin: 0 auto;
    @media (max-width: 600px) {
      width: 100%;
    }
  }
}
.form {
  margin: 20px auto;
  width: 500px;
  @media (max-width: 600px) {
    width: 300px;
  }
  @media (max-width: 400px) {
    width: 200px;
  }

  &-group {
    margin: 1rem auto;
    transition: all 0.25s ease;
  }
  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 0;
    color: white;
    width: 100%;
    background: transparent;
    outline: none;
    border-bottom: 2px solid gray;
    display: block;
    transition: all 0.5s ease;
    &:focus:invalid {
      border-bottom: 2px solid $color-primary;
    }
    &:focus:valid {
      border-bottom: 2px solid green;
    }
    &:valid {
      border-bottom: 2px solid green;
    }
  }
  &-label {
    display: block;
    font-size: 1.5rem;
    transform: translateY(15px);
    transition: all 0.5s ease;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 600;
  }
  &-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
  &-btn {
    padding: 1rem 2rem;
    border: 1px solid $color-primary;
    border-radius: 2px;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.5s ease;
    &:hover {
      background-color: $color-primary;
    }
  }
}

.label-focus {
  transform: translateY(0);
  color: $color-primary;
}
