.hero {
  height: 100vh;
  background-size: cover;
  background-position: -110px -106px;
  background-image: url("../../public/css/images/background.jpg");

  background-repeat: no-repeat;
  position: relative;
  .overlay {
    background-color: rgba(103, 102, 102, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .nav-container {
    display: flex;
    justify-content: center;
    background: transparent;
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 15px 0;
    height: 55px;
    user-select: none;
    transition: all 0.4s;

    .nav-list {
      font-size: 1rem;
      text-transform: uppercase;
      min-width: 500px;
      width: 3%;

      & li {
        transition: all 0.2s ease;
      }

      & li:hover {
        transform: scale(1.1);
      }
      .resume-btn {
        border: 1px solid $color-primary;
        padding: 0 0.5rem;
        text-transform: uppercase;
        border-radius: 2px;
        background-image: linear-gradient(
          120deg,
          transparent 0%,
          transparent 50%,
          $color-primary 50%
        );
        background-size: 250%;
        transition: all 0.3s;
        &:hover {
          background-position: 100%;
          transform: scale(1.05);
        }
      }
    }
  }
  .fixed-nav {
    background-color: rgb(22, 22, 22) !important;
    height: 55px;
    padding: 15px 0;
    -webkit-box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.61);
    box-shadow: 2px 1px 7px 0px rgba(0, 0, 0, 0.61);
    .nav-list li:hover {
      color: inherit;
    }
    .number {
      color: inherit;
    }
  }
  .heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    &_sub-text {
      font-size: 1.5rem;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      margin: 0.5rem 0;
      animation: moveInLeft 1s ease;
    }
    &_main {
      font-size: 2rem;
      text-transform: uppercase;
      color: white;
    }
    &_projects {
      border: 1px solid $color-primary;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      text-transform: capitalize;
      font-size: 0.8rem;
      animation: moveUp 1s ease-out;
      transition: all 0.1s;
      &:hover {
        background-color: $color-primary;
        transform: translateY(-3px);
      }
      &:active {
        transform: translateY(-1px);
      }
    }
  }
}
.arrow {
  position: absolute;
  top: 95%;
  left: 49%;
  animation: moveDown 1.5s infinite;
  animation-delay: 3s;
}
.social {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100vh;
  justify-content: flex-end;
  padding: 1rem;
  .social-link {
    &:hover {
      color: $color-primary;
      transform: scale(1.3);
    }
  }
}
.bubble {
  position: absolute;
  z-index: -2;
  background-color: $color-primary;
  transform: scale(1.2);
  transition: 0.5s ease;
  border-radius: 2px;
}
