.hero {
  height: 100vh;
  background-size: cover;
  background-position: -110px -106px;
  background-image: url("../../public/css/images/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: relative;
  .overlay {
    background-color: rgba(103, 102, 102, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .nav-list {
    font-size: 1rem;
    text-transform: uppercase;
    width: 450px;
    margin-top: 0.5rem;
    position: absolute;

    & li {
      transition: all 0.2s ease;
    }

    & li:hover {
      color: $color-primary;
      transform: scale(1.1);
    }
    .resume-btn {
      border: 1px solid $color-primary;
      padding: 0.1rem 0.5rem;
      text-transform: uppercase;
      border-radius: 2px;
    }
  }
  .heading {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    &_sub-text {
      font-size: 1.5rem;
      text-transform: capitalize;
      display: flex;
      justify-content: center;
      margin: 0.5rem 0;
      animation: moveInLeft 1s ease;
    }
    &_main {
      font-size: 2rem;
      text-transform: uppercase;
      color: white;
    }
    &_projects {
      border: 1px solid $color-primary;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      text-transform: capitalize;
      font-size: 0.8rem;
      animation: moveUp 1s ease-out;
      transition: all 0.1s;
      &:hover {
        background-color: $color-primary;
        transform: translateY(-3px);
      }
      &:active {
        transform: translateY(-1px);
      }
    }
  }
}
.arrow {
  position: absolute;
  top: 95%;
  left: 50%;
  animation: moveDown 1.5s infinite;
  animation-delay: 3s;
}
