.skills {
  height: 60vh;
  margin-top: 2rem;
}

.head {
  text-align: center;
  margin: 1rem 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}
.grid-container {
  display: grid;
  height: 50vh;
  grid-template-columns: 1fr 1fr;
}
.icon-container {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-right: 1rem;
  @media (max-width: 600px) {
    padding: 0.7rem;
  }
  i:hover {
    color: $color-primary;
  }
}
.icon-name {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: $color-primary;
  @media (max-width: 600px) {
    font-size: 1rem;
  }
  &:hover {
    color: white;
    cursor: default;
  }
}
.name-container {
  width: 100px;
  display: inline-block;
  max-width: 250px;
  text-align: left;
}
